<nav class="col-md-2 d-none d-md-block sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="/admin"><img class="sidebar-brand" src="/images/logo-admin.png"></a>
                <a href="#" data-toggle="modal" data-target="#globalSearchModal" class="sidebar-search text-muted"><i class="feather" data-feather="search"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/dashboard">
                    <i class="feather" data-feather="bar-chart"></i> &nbsp;
                    {{ @root.__ "Dashboard" }}
                </a>
            </li>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Manage</span>
            </h6>
            {{#ifCond session.isAdmin '===' true}}
            <li class="nav-item sidebar-addon">
                <a class="nav-link sidebar-link" href="/admin/products">
                    <i class="feather" data-feather="tag"></i> &nbsp;
                    Products
                </a>
                <a class="sidebar-link-addon text-muted" href="/admin/product/new">
                    <i class="feather" data-feather="plus"></i>
                </a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/admin/products">
                    <i class="feather" data-feather="tag"></i> &nbsp;
                    Products
                </a>
            </li>
            {{/ifCond}}
            <li class="nav-item sidebar-addon">
                <a class="nav-link sidebar-link" href="/admin/orders">
                    <i class="feather" data-feather="package"></i> &nbsp;
                    Orders
                </a>
                <a class="sidebar-link-addon text-muted" href="/admin/order/create">
                    <i class="feather" data-feather="plus"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/customers">
                    <i class="feather" data-feather="users"></i> &nbsp;
                    Customers
                </a>
            </li>
            <li class="nav-item sidebar-addon">
                <a class="nav-link sidebar-link" href="/admin/users">
                    <i class="feather" data-feather="user"></i> &nbsp;
                    Users
                </a>
                <a class="sidebar-link-addon text-muted" href="/admin/user/new">
                    <i class="feather" data-feather="plus"></i>
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Settings</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/admin/settings">
                    <i class="feather" data-feather="sliders"></i> &nbsp;
                    {{ @root.__ "General settings" }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/settings/menu">
                    <i class="feather" data-feather="menu"></i> &nbsp;
                    {{ @root.__ "Menu" }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/settings/pages">
                    <i class="feather" data-feather="file-text"></i> &nbsp;
                    {{ @root.__ "Static pages" }}
                </a>
            </li>
            {{#ifCond session.isAdmin '===' true}}
            <li class="nav-item">
                <a class="nav-link" href="/admin/settings/discounts">
                    <i class="feather" data-feather="code"></i> &nbsp;
                    {{ @root.__ "Discount codes" }}
                </a>
            </li>
            {{/ifCond}}
        </ul>
    </div>
</nav>