<div class="modal fade" id="variantModal" tabindex="-1" role="dialog" aria-labelledby="variantModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="confirmModalLabel">{{@root.__ "Product variant"}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="variant-product" value="{{result._id}}">
                <div class="form-group">
                    <label for="variant-title" class="col-form-label">{{@root.__ "Title"}}:</label>
                    <input type="text" class="form-control" id="variant-title" placeholder="Small">
                    <p class="help-block">{{ @root.__ "Shown in the variant dropdown, will be color - dimensions if let empty" }}</p>
                </div>
                <div class="form-group">
                    <label for="variant-price" class="col-form-label">{{@root.__ "Price"}}:</label>
                    <input type="number" class="form-control" id="variant-price" placeholder="29.99" value={{result.productPrice}}>
                </div>
                <div class="form-group">
                    <label for="variant-stock" class="col-form-label">{{@root.__ "Stock"}}:</label>
                    <input type="number" class="form-control" id="variant-stock" placeholder="0">
                </div>
                   <div class="form-group">
              {{#each @root.config.variantTemplates}}
               {{#each this}}
                  <label for="variant-stock" class="col-form-label">{{@root.__ @key}}:</label>
                  <input type="hidden" id="variant-{{@key}}" value="{{@key}}">
                        <select class="form-control" id="chooseVariant-{{@key}}">
                        {{#each this}}
                           <option value={{this}}>{{ @root.__ this}}</option>
                        {{/each}}
                        </select>
               {{/each}}
              {{/each}}
                   </div>
                <div class="form-group">
                    <label for="variant-dimension" class="col-form-label">{{@root.__ "Dimensions"}}:</label>
                     <input type="number" class="form-control" id="variant-dimension-height" placeholder="0" value={{result.productDimensions.height}}> X
                    <input type="number" class="form-control" id="variant-dimension-width" placeholder="0" value={{result.productDimensions.width}}> X
                    <input type="number" class="form-control" id="variant-dimension-length" placeholder="0" value={{result.productDimensions.length}}>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger mr-auto" data-dismiss="modal">{{@root.__ "Cancel"}}</button>
                <button type="button" id="addVariant" class="btn btn-outline-success">{{@root.__ "Add variant"}}</button>
            </div>
        </div>
    </div>
</div>
</div>
