<div class="col-xl-8 col-xl-offset-2 col-xs-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/checkout/information">Information</a></li>
            {{#if @root.session.customerPresent}}
            <li class="breadcrumb-item" aria-current="page"><a href="/checkout/shipping">Shipping</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="/checkout/payment">Payment</a></li>
            {{else}}
            <li class="breadcrumb-item text-muted" aria-current="page">Shipping</li>
            <li class="breadcrumb-item text-muted" aria-current="page">Payment</li>
            {{/if}}
        </ol>
    </nav>
    <div class="row">
        {{#if paymentMessage}}
            <p class="text-danger text-center">{{paymentMessage}}</p>
        {{/if}}
        <div class="col-md-5">
            <div class="panel panel-default" style="margin-top: 30px;">
                <div class="panel-heading">{{ @root.__ "Customer details" }}</div>
                {{#unless @root.session.customerPresent}}
                <div class="panel-body customer-details-login">
                    <p>{{ @root.__ "Existing customer" }}</p>
                    <div class="form-group">
                        <input type="email" class="form-control" id="customerLoginEmail" name="loginEmail" minlength="5" placeholder="Email address" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="customerLoginPassword" name="loginPassword" minlength="5" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <a href="/customer/forgotten" class="btn btn-default pull-left">{{ @root.__ "Forgotten" }}</a>
                    </div>
                    <div class="form-group">
                        <button id="customerLogin" class="btn btn-primary pull-right" type="submit">Login</button>
                    </div>
                </div>
                {{/unless}}
                <div class="panel-body customer-details">
                    {{#if @root.session.customerPresent}}
                    <div class="col-xs-12 col-md-12">
                        <button id="customerLogout" class="btn btn-sm btn-primary pull-right">{{ @root.__ "Change customer" }}</button>
                    </div>
                    {{/if}}
                    <form id="shipping-form" class="shipping-form" role="form" data-toggle="validator" novalidate="false">
                        {{> themes/Cloth/shipping-form}}
                        {{#unless @root.session.customerPresent}}
                        <div class="col-xs-12 col-md-12">
                            <p class="text-muted">{{ @root.__ "Enter a password to create an account for next time" }}</p>
                        </div>
                        <div class="col-xs-6 col-md-6">  
                            <div class="form-group">
                                <input type="password" class="form-control customerDetails" id="newCustomerPassword" name="newCustomerPassword" placeholder="Password">
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="createAccountCheckbox"> Create an account
                                </label>
                            </div>
                        </div>
                        {{/unless}}
                        <div class="col-xs-12 col-md-12">
                            <a href="/checkout/cart" class="btn btn-primary pull-left">Return to cart</a>
                            <a href="/checkout/shipping" id="checkoutInformation" class="btn btn-primary pull-right">Continue to shipping</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="cart" class="col-md-7">
            {{> (getTheme 'cart')}}
            <div class="row">
                {{#if @root.session.cart}}
                <div class="col-xs-12 col s12">
                    <button class="btn btn-danger pull-right" id="empty-cart" type="button">{{ @root.__ "Empty cart" }}</button>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>