{{> themes/Cloth/front-menu}}
<div class="product-layout col-sm-8 offset-sm-2">
    <div class="row">
        <div class="col-sm-12 col-md-6 mr-auto">
            {{#if result.productImage}}
                <div class="title-image-container">
                    <div class="image-prev image-button"> <i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                    <img src="{{result.productImage}}" id="product-title-image" class="product-title-image img-fluid" alt="...">
                    <div class="image-next image-button"> <i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                </div>
            {{else}}
                <div class="title-image-container">
                    <img src="/uploads/placeholder.png" id="product-title-image" class="product-title-image img-fluid" alt="...">
                </div>
            {{/if}}
            {{#ifCond @root.images.length '>' 1}}
                <div class="row">
                {{#each @root.images}}
                    <div class="vertical-center top-pad-20 col-6">
                        <img src="{{this.path}}" class="thumbnail-image img-fluid">
                    </div>
                {{/each}}
                </div>
            {{/ifCond}}
        </div>
        <div class="col-sm-12 col-md-6 ml-auto">
            <div class="row">
                <h1 class="col-md-10 product-title text-truncate">{{result.productTitle}}</h1>
                <h4 class="col-md-10 product-price">{{currencySymbol config.currencySymbol}}{{result.productPrice}}</h4>
                {{#if productOptions}}
                    <h4 class="col-md-10 product-option">{{ @root.__ "Options" }}</h4>
                    <div class="col-md-10">
                    {{#each productOptions}}
                        {{#ifCond this.optType '==' "select"}}
                            <strong>{{../this.optLabel}}</strong>
                            <select name="{{../this.optName}}" data-label="{{../this.optLabel}}" class="form-control product-opt">
                                {{#each ../this.optOptions}}
                                    <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        {{/ifCond}}
                        {{#ifCond this.optType '==' "radio"}}
                            <strong>{{../this.optLabel}}</strong>
                            {{#each ../this.optOptions}}
                                <div class="radio">
                                    <label>
                                        <input type="radio" class="product-opt" data-label="{{../../this.optLabel}}" name="{{../../this.optName}}" value="{{this}}">
                                        <span class="left-pad-10">{{this}}</span>
                                    </label>
                                </div>
                            {{/each}}
                        {{/ifCond}}
                        {{#ifCond this.optType '==' "checkbox"}}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="product-opt" data-label="{{../this.optLabel}}" name="{{../this.optName}}" value="{{../this.optName}}">
                                    <span class="left-pad-10">{{../this.optLabel}}</span>
                                </label>
                            </div>
                        {{/ifCond}}
                    {{/each}}
                    </div>
                {{/if}}
                {{#if config.trackStock}}
                    {{#ifCond result.productStock '==' 0}}
                    <div class="col-md-10">
                        <h4 class="text-danger text-center">
                            Out of stock
                        </h4>
                    </div>
                    {{/ifCond}}
                {{/if}}
                <div class="col-md-10 productOptions">
                    <p class="product-option-text">{{ @root.__ "Quantity" }}</p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-primary qty-btn-minus" type="button">-</button>
                        </div>
                        <input type="number" class="form-control add-color text-center" id="product_quantity" maxlength="3" value="1">
                        <div class="input-group-append">
                            <button class="btn btn-primary qty-btn-plus" type="button">+</button>
                        </div>
                    </div>
                </div>
                {{#if result.productComment}}
                <div class="col-md-10">
                    {{ @root.__ "Leave a comment?" }}
                    <textarea class="form-control" id="product_comment"></textarea>
                </div>
                {{/if}}
                <div class="col-md-10 btnAddToCart">
                    <button class="btn btn-primary btn-block product-add-to-cart" type="button">{{ @root.__ "Add to cart" }}</button>
                </div>
                <div class="col-md-10 body_text">
                    {{{productDescription}}}
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="productId" value="{{result._id}}">