{{> partials/menu}}
<div class="col-lg-9">
    <div class="row">
        <form method="post" class="form-horizontal" id="update_form" action="/admin/customer/update" data-toggle="validator">
            <div class="col-xs-12 col-md-12">
                <div class="page-header">
                    <div class="pull-right">
                        <button id="frm_edit_product_save" class="btn btn-success">Save customer <i class="fa fa-floppy-o"></i></button>
                    </div>
                    <h2>Customer</h2>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email *</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="email" value={{result.email}} required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ @root.__ "First name" }} *</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="firstName" value={{result.firstName}} required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ @root.__ "Last name" }} *</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="lastName" value={{result.lastName}} required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ @root.__ "Address 1" }} *</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="address1" value={{result.address1}} required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ @root.__ "Address 2" }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="address2" value={{result.address2}}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ @root.__ "Country" }} *</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="country" value={{result.country}} required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ @root.__ "State" }} *</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="state" value={{result.state}} required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ @root.__ "Postcode" }} *</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="postcode" value={{result.postcode}} required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ @root.__ "Phone number" }} *</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="phone" value={{result.phone}} required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ @root.__ "Password" }}</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password">
                        <p class="help-block">Only populate if wanting to reset the customers password</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ @root.__ "Creation date" }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{formatDate result.created "DD/MM/YYYY hh:mmA"}}" readonly>
                    </div>
                </div>
            </div>
            <input type="hidden" name="customerId" value="{{result._id}}">
        </form>
    </div>
    
</div>