<div class="input-field col s12">
    <input type="email" class="customerDetails" id="shipEmail" name="shipEmail" minlength="5" placeholder="Email address" value="{{session.customer.email}}" required>
</div>
<div class="input-field col s12 m6">
    <input type="text" class="customerDetails" id="shipFirstname" name="shipFirstname" placeholder="First name" value="{{session.customer.firstName}}" required>
</div>
<div class="input-field col s12 m6">
    <input type="text" class="customerDetails" id="shipLastname" name="shipLastname" placeholder="Last name" value="{{session.customer.lastName}}" required>
</div>
<div class="input-field col s12">
    <input type="text" class="customerDetails" id="shipAddr1" name="shipAddr1" placeholder="Address 1" value="{{session.customer.address1}}" required>
</div>
<div class="input-field col s12">
    <input type="text" class="customerDetails" id="shipAddr2" name="shipAddr2" placeholder="Address 2 (optional)" value="{{session.customer.address1}}">
</div>
<div class="input-field col s12 m4">
    <input type="text" class="customerDetails" id="shipCountry" name="shipCountry" placeholder="Country" value="{{session.customer.country}}" required>
</div>
<div class="input-field col s12 m4">
    <input type="text" class="customerDetails" id="shipState" name="shipState" placeholder="State" value="{{session.customer.state}}" required>
</div>
<div class="input-field col s12 m4">
    <input type="text" class="customerDetails" id="shipPostcode" name="shipPostcode" placeholder="Post code" value="{{session.customer.postcode}}" required>
</div>
<div class="input-field col s12">
    <input type="number" class="customerDetails" id="shipPhoneNumber" name="shipPhoneNumber" placeholder="Phone number" value="{{session.customer.phone}}" required>
</div>
<div class="input-field col s12">
    <textarea class="customerDetails" placeholder="Order comment" id="orderComment" name="orderComment"></textarea>
</div>