<div class="col-xs-12 col s12 text-center">
    <form method="POST" id="payment-form">
        <button
            type="submit"
            id="stripeButton"
            value="Process payment"
            class="btn btn-success waves-effect waves-light blue darken-3"
            type="submit"
            data-key="{{@root.paymentConfig.publicKey}}"
            data-amount="{{amountNoDecimal @root.session.totalCartAmount}}"
            data-name="{{@root.config.cartTitle}}"
            data-description="{{@root.config.cartTitle}} Payment"
            data-image="{{@root.paymentConfig.stripeLogoURL}}"
            data-email="{{@root.session.customer.email}}"
            {{#if @root.session.cartSubscription}}
            data-subscription="{{@root.session.cartSubscription}}"
            {{/if}}
            data-locale="auto"
            data-zip-code="false"
            data-currency="{{@root.paymentConfig.stripeCurrency}}">
            <i class="fa fa-cc-stripe fa-lg" aria-hidden="true"></i> Process payment <i class="fa fa-cc-stripe fa-lg" aria-hidden="true"></i>
        </button>
        <script src="https://checkout.stripe.com/v2/checkout.js"></script>
    </form>
</div>