{{> themes/Mono/front-menu}}
<div class="product-layout s12 col m8 offset-m1">
    <div class="row">
        <div class="col s12 m6 pull-right">
            <div class="row">
            <h1 class="col s12 m10 product-title">{{result.productTitle}}</h1>
            <h4 class="col s12 m10 product-price">{{currencySymbol config.currencySymbol}}{{result.productPrice}}</h4>
            {{#if productOptions}}
                <h4 class="col s12 m10 product-option">Options</h4>
                <div class="col s12 m10">
                {{#each productOptions}}
                    {{#ifCond this.optType '==' "select"}}
                        <strong>{{this.optName}}</strong>
                        <select name="opt-{{this.optName}}" class="form-control product-opt">
                            {{#each ../this.optOptions}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    {{/ifCond}}
                    {{#ifCond this.optType '==' "radio"}}
                        {{#each ../this.optOptions}}
                            <strong>{{this.optName}}</strong>
                            <div class="radio">
                                <label>
                                    <input type="radio" class="product-opt" name="opt-{{../../this.optName}}" value="{{this}}">
                                    {{this}}
                                </label>
                            </div>
                        {{/each}}
                    {{/ifCond}}
                    {{#ifCond this.optType '==' "checkbox"}}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="product-opt" name="opt-{{../this.optName}}" value="{{../this.optName}}"><strong>{{../this.optName}}</strong>
                            </label>
                        </div>
                    {{/ifCond}}
                {{/each}}
                </div>
            {{/if}}
            {{#if config.trackStock}}
                {{#ifCond result.productStock '==' 0}}
                <div class="col-md-10">
                    <h4 class="text-danger text-center">
                        Out of stock
                    </h4>
                </div>
                {{/ifCond}}
            {{/if}}
            <div class="col s10 productOptions">
                <p class="product-option-text">Quantity</p>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn waves-effect waves-light black qty-btn-minus" type="button">-</button>
                    </span>
                    <div class="input-field col s12">
                    <input type="text" class="add-color text-center" id="product_quantity" maxlength="3" value="1">
                    </div>
                    <span class="input-group-btn">
                        <button class="btn waves-effect waves-light black qty-btn-plus" type="button">+</button>
                    </span>
                </div>
            </div>
            {{#if result.productComment}}
            <div class="col-md-10">
                Leave a comment?
                <textarea class="form-control" id="product_comment"></textarea>
            </div>
            {{/if}}
            <div class="btnAddToCart">
                <button class="btn waves-effect waves-light black col s10 product-add-to-cart" type="button">Add to cart</button>
            </div>
            <div class="col s10 body_text">
                {{{productDescription}}}
            </div>
            </div>
        </div>
        <div class="col s12 m6 pull-left">
            {{#if result.productImage}}
                <div class="title-image-container">
                    <div class="image-prev image-button"> <i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                    <img src="{{result.productImage}}" id="product-title-image" class="product-title-image img-responsive materialboxed" alt="...">
                    <div class="image-next image-button"> <i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                </div>
            {{else}}
                <div class="title-image-container">
                    <img src="/uploads/placeholder.png" id="product-title-image" class="product-title-image img-responsive" alt="...">
                </div>
            {{/if}}
            {{#ifCond images.length '>' 1}}
                <div class="product-image-container">
                {{#each images}}
                    <div class="vertical-center top-pad-20 col s6 l6 xl6">
                        <img src="{{this.path}}" class="thumbnail-image img-responsive">
                    </div>
                {{/each}}
                </div>
            {{/ifCond}}
        </div>
    </div>
</div>
<input type="hidden" id="productId" value="{{result._id}}">